body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}
nav{
    width: 100%;
    background-color: black;
}
nav > ul{
    margin: 0px;
    padding: 0px;
}
nav li{
    list-style-type: none;
}
nav > ul > li{
    float: left;
    position: relative;
}
nav > ul::after{
    content: "";
    display: table;
    clear: both;
}
.submenu{
    display: none;
}
nav input[type=checkbox]{
    display: none;
}
nav label{
    display: none;
}
nav a{
    display: inline-block;
    text-decoration: none;
}
nav > ul> li > a{
    padding: 20px 30px;
    color: blanchedalmond;
}
nav > ul > li :hover a{
    padding: 15px 30px 20px 30px;
}
nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}
.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
}
.submenu li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.menu-html:hover{
    border-top: 5px solid #f0e9e6;
    background-color: rgba(220, 220, 220, 0.741);
}
.menu-css:hover{
    border-top: 5px solid #f0e9e6;
    background-color: rgba(255, 255, 255, 0.768);
}
.menu-js:hover{
    border-top: 5px solid #f0e9e6;
    background-color: rgb(220, 220, 220, 0.741);
}
.menu-contact:hover{
    border-top: 5px solid #f0e9e6;
    background-color: rgba(220, 220, 220, 0.15);
}
.menu-html .submenu{
    background-color: rgb(226, 219, 215);
}
.menu-css .submenu{
    background-color: rgb(226, 219, 215);
}
.menu-js .submenu{
    background-color: rgb(226, 219, 215);
}
.submenu li:hover a{
    color: rgb(49, 48, 48);
    font-weight: bold;
}
.menu-html .submenu li:hover{
    background-color: rgb(253, 251, 250);
}
.menu-css .submenu li:hover{
    background-color: rgb(255, 252, 251);
}
.menu-js .submenu li:hover{
    background-color: rgb(255, 252, 251);
}
nav input[type=checkbox]:checked ~ ul{
    display: block;
}

@media screen and (max-width: 780px){
    .menu-mobile{
        display: block;
        color: #FFF;
        background-color: rgba(29, 197, 151, 0.97);
        text-align: center;
        padding: 12px 0px;
    }
    nav ul{
        display: none;
    }
    nav ul li, nav ul li a{
        width:100%;
        text-align: center;
    }
    nav ul li a, nav ul li:hover a{
        padding: 10px 0px;
    }
    nav li:hover .submenu{
        display: block;
        position: static;
    }
}