body{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Courier New';
}
div{
    margin: 20px auto;
    width: 80%;
    padding: 15px;
    border: 10px solid #0D8;
    text-align: center;
}
p{
    border: 3px solid #8A4;
    padding: 15px;
    width: 60%;
    margin: 10px auto;
    text-align: center;
}
em, strong{
    border: 2px solid #26B;
    padding: 5px;
}