body{
    font-family: 'Source code pro', Calibri, serif;
    margin: 0px;
    padding: 0px;
}
nav {
    width: 100%;
    background-color: #040403;
}
nav > ul{
    margin: 0px;
    padding: 0px;
}
nav > ul ::after{ 
    content: "";
    display: block;
    clear: both;
}
nav > ul > li {
    float: left; 
    position: relative;
}
nav > ul > li > a{
    padding: 20px 30px;
    color:#000;
}
nav > ul > li:hover a{
    padding: 15px 30px 20px 30px;
}
nav li{
    list-style-type: none;
}
.submenu{
    display: none;
}
nav a{
    display: inline-block;
    text-decoration: none;
} 
nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}
.submenu li {
    border-bottom: 1px solid rgb(199, 186, 4);
}
.submenu li a{
    padding: 15px 3px;
    font-size: 13px;
    color:#222538

} 
.menu-html:hover{
    border-top: 5px solid #aaa;
    background-color:rgba(225, 225 ,255, 0.15);
}
.menu-css:hover{
    border-top: 5px solid #aaa;
    background-color:rgba(225, 225 ,255, 0.15);
}
.menu-Javascript:hover{
    border-top: 5px solid #aaa;
    background-color:rgba(225, 225 ,255, 0.15);
}
.menu-contact:hover{
    border-top: 5px solid #aaa;
    background-color:rgba(225, 225 ,255, 0.15);
}
.menu-html .submenu{
    background-color: rgb(99, 98, 96);
}
.menu-css .submenu{
    background-color: rgb(99, 98, 96);
}
.menu-Javascript .submenu{
    background-color: rgb(99, 98, 96);
}
.submenu li:hover a{
    color: #eee;
    font-weight: bold;
}