body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 16px;
    font-family: 'Courier New';
}
.diaporama_1{
    margin: 0 auto;
    width: 960px;
    height: 500px;
    border: 3px solid #333;
    background-image: url("imgs/1.JPG");

    -webkit-animation-name: diapo1;
    -webkit-animation-duration: 9s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;

    -moz-animation-name: diapo1;
    -moz-animation-duration: 9s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;

    animation-name:diapo1 ;
    animation-duration: 9s ;
    animation-timing-function:linear ;
    animation-iteration-count: infinite;
    animation-direction: normal;

}

@-webkit-keyframes diapo1{
    0%{background-image: url("imgs/1.JPG");}
    33%{background-image: url("imgs/2.JPG");}
    66%{background-image: url("imgs/3.JPG");}
}
@-moz-keyframes diapo1{
    0%{background-image: url("imgs/1.JPG");}
    33%{background-image: url("imgs/2.JPG");}
    66%{background-image: url("imgs/3.JPG");}
}
@keyframes diapo1{
    0%{background-image: url("imgs/1.JPG");}
    33%{background-image: url("imgs/2.JPG");}
    66%{background-image: url("imgs/3.JPG");}
}
.diaporama_2{
    margin: 0 auto;
    width: 960px;
    height: 500px;
    border: 3px solid #333;
    background-image: url("imgs/123.JPG");

    -webkit-animation-name: diapo2;
    -webkit-animation-duration: 12s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;

    -moz-animation-name: diapo2;
    -moz-animation-duration: 12s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;

    animation-name:diapo2;
    animation-duration: 12s ;
    animation-timing-function:linear ;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@-webkit-keyframes diapo2{
    0%{background-image: 0px 0px;}
    33%{background-image: -100px 0px;}
    66%{background-image: -92px 0px;}
    100%{background-image: -188px 0px;}
}
@-moz-keyframes diapo2{
    0%{background-image: 0px 0px;}
    33%{background-image: -100px 0px;}
    66%{background-image: -92px 0px;}
    100%{background-image: -188px 0px;}
}
@keyframes diapo2{
    0%{background-image: 0px 0px;}
    33%{background-image: -100px 0px;}
    66%{background-image: -92px 0px;}
    100%{background-image: -188px 0px;}
}