body{
    font-family: 'Source code pro', Calibri,serif;
    margin: 0px;
    padding: 0px;
}
nav {
    width: 100%;
    background-color: #000000;
}
nav ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
nav li{
    list-style-type: none;
    float: left;
}
nav a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #fff;
}
.menu-html:hover{
    border-top: 5px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.15);
}
.menu-css:hover{
    border-top: 5px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.15);
}
.menu-Javascript:hover{
    border-top: 5px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.15);
}
.menu-contact:hover{
    border-top: 5px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.15);
}
nav li:hover   a{
    padding: 15px 30px 20px 30px;
}
.table{
    display: table;
    margin: 0 auto;
}